* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.selected {
  color: red;
}

/* Sinup View */

#signup form,
#edit-profile form {
  display: flex;
  flex-direction: column;
}

p {
  white-space: pre;
}

/* Manager Requests View */

td {
  text-align: center;
  padding: 10px;
}

th {
  padding: 0 20px;
}
