/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap");
/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-blue: #166fe5;
  --dark-grey: rgb(97, 97, 97);
  --strong-grey: rgb(71, 71, 71);
  --light-grey: #f0f2f5;
  --black: black;
  --white: white;
  --blue: blue;
  --green: green;
  --hoover-blue: rgb(50, 99, 235);
  --hoover-green: #3db341;
}

.backgroundcolor {
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

.btn-common {
  height: 45px;
  margin-top: 10px;
  font-size: 1em;
  color: var(--white);
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

/* NavBar Component */
#navbar {
  display: flex;
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-grey);
}

#navbar .avatar img {
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

div.iconcontainer {
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.iconcontainer img {
  height: 60%;
  width: 60%;
}

div.iconcontainer:hover {
  transform: scale(1.1);
}

div.iconcontainer p {
  font-size: 0.6em;
}

button.iconcontainer {
  border: none;
  background-color: transparent;
  outline: none;
  height: 50px;
  width: 50px;
}

button.iconcontainer:focus {
  border: none;
}

button.iconcontainer:hover {
  transform: scale(1.1);
}

#navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  list-style-type: none;
}

#navbar ul img {
  height: 45px;
}

.selected {
  color: var(--dark-blue) !important;
  font-weight: bolder;
}

.change-color {
  filter: invert(26%) sepia(99%) saturate(1834%) hue-rotate(205deg)
    brightness(97%) contrast(88%);
}

#navbar a {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 1.5em;
}

/* Home View */

#home-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-view div {
  width: 70vw;
  height: 400px;
  display: flex;
}

#home-view div div:first-child {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#home-view div div:first-child img {
  height: 120px;
  width: 460px;
}

#home-view div div:first-child h2 {
  padding-top: 1%;
  color: var(--strong-grey);
  padding-right: 50px;
}

#home-view div div:nth-child(2) {
  padding: 2%;
  width: 35%;
  height: 100%;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px var(--strong-grey);
}

#home-view div div:nth-child(2) form {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

#home-view div div:nth-child(2) form input {
  padding: 10px;
  margin-bottom: 5px;
}

#home-view div div:nth-child(2) form button {
  width: 100%;
  background-color: var(--blue);
}

#home-view div div:nth-child(2) form button:hover {
  background-color: var(--hoover-blue);
}

#home-view div div:nth-child(2) > button {
  width: 50%;
  background-color: var(--green);
}

#home-view div div:nth-child(2) > button:hover {
  background-color: var(--hoover-green);
}

#home-view hr {
  border: 1px solid var(--light-grey);
  width: 100%;
  margin: 20px;
}

#home-view footer {
  position: fixed;
  bottom: 0;
}

/* Sinup View */

#signup form,
#edit-profile form {
  display: flex;
  flex-direction: column;
}

/* EditProfile View */

#edit-profile button,
#signup button {
  width: 250px;
  height: 40px;
  margin-top: 10px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: rgb(24, 129, 24);
  border-radius: 10px;
  border: none;
  margin: 20px;
}

#signup > button {
  background-color: black;
  width: 150px;
}

/* Manager Requests View */

#manage-colaborators-requests,
#manage-my-requests,
#edit-profile,
#signup {
  padding: 3%;
}

#manage-colaborators-requests h2,
#manage-my-requests h2 {
  margin-bottom: 10px;
}

#manage-colaborators-requests button:first-child,
#manage-colaborators-requests button:nth-child(2) {
  width: 100px;
  height: 40px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: rgb(24, 129, 24);
  border-radius: 10px;
  border: none;
  margin: 5px;
}

#manage-colaborators-requests button:nth-child(2) {
  background-color: red;
}

td {
  text-align: center;
  padding: 10px;
}

th {
  padding: 0 20px;
}

.status-red {
  color: white;
  background-color: red;
  padding: 5px;
  font-size: 1.1em;
  border-radius: 5px;
}

.status-green {
  color: white;
  background-color: green;
  padding: 5px;
  font-size: 1.1em;
  border-radius: 5px;
}

.status-yellow {
  color: white;
  background-color: #ff8c00;
  padding: 5px;
  font-size: 1.1em;
  border-radius: 5px;
}

/* Main View */

#main-view {
  padding-right: 1%;
  padding-left: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

#main-view #main-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#main-view > div:first-child {
  width: 320px;
  height: 500px;
  margin-top: 40px;
}

#main-view aside {
  margin-top: 20px;
  padding: 0 20px 0 20px;
  width: 250px;
  height: 500px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}

#main-view aside button {
  width: 100px;
}

#main-view #project-card {
  /* background-color: #7ee682; */
  width: 97%;
}

#main-view div > button:first-child,
#main-view div > button:nth-child(2) {
  width: 250px;
  height: 40px;
  margin-top: 10px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: rgb(24, 129, 24);
  border-radius: 10px;
  border: none;
  margin: 20px;
}

#main-view div > button:nth-child(2) {
  background-color: rgb(1, 24, 87);
}

#main-view div > button:nth-child(2):hover {
  background-color: rgb(50, 99, 235);
  color: rgb(173, 98, 0);
}

#main-view div > button:first-child:hover {
  background-color: #7ee682;
  color: rgb(173, 98, 0);
}

/* ProjectCard Component */

#project-card {
  padding: 3%;
  border: 1px solid rgb(0, 0, 0);
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  border-radius: 20px;
}

#project-card p {
  overflow: hidden;
  text-overflow: ellipsis;
}

#project-card button {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: blue;
  border-radius: 10px;
  border: none;
}

/* Project Details View */

#project-details {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Create Request View */

#create-request {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-request h2 {
  margin-bottom: 20px;
}

#create-request button {
  width: 200px;
  height: 40px;
  margin-top: 40px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: rgb(5, 5, 5);
  border-radius: 10px;
  border: none;
}

#user-details {
  padding: 3%;
}

#user-details-card {
  padding: 3%;
  border: 1px solid rgb(0, 0, 0);
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  border-radius: 20px;
}

#user-details-card p {
  overflow: hidden;
  text-overflow: ellipsis;
}

#user-details-card button {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: blue;
  border-radius: 10px;
  border: none;
}

/* ProjectCard Component */

#project-details-card {
  padding: 3%;
  border: 1px solid rgb(0, 0, 0);
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  border-radius: 20px;
}

#project-details-card p {
  overflow: hidden;
  text-overflow: ellipsis;
}

#project-details-card button {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: blue;
  border-radius: 10px;
  border: none;
}

#manage-projects-view {
  padding: 3%;
  list-style-position: inside;
}

/* Create Project View */

#create-project {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-project h2 {
  margin-bottom: 20px;
}

#create-project form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

/* Portfolio View */

#portfolio-view {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
