/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap");
/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-blue: #166fe5;
  --dark-grey: rgb(97, 97, 97);
  --strong-grey: rgb(71, 71, 71);
  --light-grey: #f0f2f5;
  --black: black;
  --white: white;
  --blue: blue;
  --green: green;
  --red: red;
  --orange: #df7c03;
  --hoover-blue: rgb(119, 151, 240);
  --hoover-green: #3db341;
  --hoover-black: rgb(66, 64, 64);
  --hover-orange: rgb(248, 185, 68);
  --hoover-red: rgb(248, 108, 108);
}

.backgroundcolor {
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

.btn-common {
  height: 45px;
  margin-top: 10px;
  font-size: 1em;
  color: var(--white);
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

/* NavBar Component */

#navbar {
  display: flex;
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-grey);
}

#navbar .avatar img {
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

div.iconcontainer {
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.iconcontainer img {
  height: 60%;
  width: 60%;
}

div.iconcontainer:hover {
  transform: scale(1.1);
}

div.iconcontainer p {
  font-size: 0.6em;
}

button.iconcontainer {
  border: none;
  background-color: transparent;
  outline: none;
  height: 50px;
  width: 50px;
}

button.iconcontainer:focus {
  border: none;
}

button.iconcontainer:hover {
  transform: scale(1.1);
}

#navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  list-style-type: none;
}

#navbar ul img {
  height: 45px;
}

.selected {
  color: var(--dark-blue) !important;
  font-weight: bolder;
}

.change-color {
  filter: invert(26%) sepia(99%) saturate(1834%) hue-rotate(205deg)
    brightness(97%) contrast(88%);
}

#navbar a {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 1.5em;
}

/* Home View */

#home-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-view div {
  width: 70vw;
  height: 420px;
  display: flex;
}

#home-view div div:first-child {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#home-view div div:first-child img {
  height: 120px;
  width: 460px;
}

#home-view div div:first-child h2 {
  padding-top: 1%;
  color: var(--strong-grey);
  padding-right: 50px;
}

#home-view div div:nth-child(2) {
  padding: 2%;
  width: 35%;
  height: 100%;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px var(--strong-grey);
}

#home-view div div:nth-child(2) form {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

#home-view div div:nth-child(2) form input {
  padding: 10px;
  margin-bottom: 5px;
}

#home-view div div:nth-child(2) form button {
  width: 100%;
  background-color: var(--dark-blue);
}

#home-view div div:nth-child(2) form button:hover {
  background-color: var(--hoover-blue);
}

#home-view div div:nth-child(2) > button {
  width: 50%;
  background-color: var(--green);
}

#home-view div div:nth-child(2) > button:hover {
  background-color: var(--hoover-green);
}

#home-view hr {
  border: 1px solid var(--light-grey);
  width: 100%;
  margin: 20px;
}

#home-view footer {
  position: fixed;
  bottom: 0;
}

/* Error Page View */

#error-page-view {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#error-page-view.not-login {
  height: 100vh;
}

#error-page-view div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#error-page-view div p {
  font-size: 1.3em;
}

#error-page-view button {
  width: 150px;
  background-color: var(--black);
  margin-top: 20px;
}

#error-page-view button:hover {
  width: 150px;
  background-color: var(--hoover-black);
}

/* Sinup View */

#sign-up-view {
  width: 100vw;
  height: 100vh;
  padding: 1%;
  display: flex;
  justify-content: center;
}

#sign-up-view > div {
  width: 450px;
  height: 97%;
  background-color: var(--white);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px var(--strong-grey);
}

#sign-up-view h2 {
  margin-bottom: 5px;
}

#sign-up-view form {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

#sign-up-view > div > form > div {
  display: flex;
  justify-content: space-between;
}

#sign-up-view > div > form input:not([type="file"]),
#sign-up-view > div > form textarea,
#sign-up-view > div > form select {
  padding: 5px;
  margin-bottom: 7px;
  background-color: var(--light-grey);
  font-size: 1em;
}

#sign-up-view > div > form input[type="file"] {
  padding: 5px;
  margin-bottom: 7px;
}

#sign-up-view > div > form > div > button:nth-child(2) {
  background-color: black;
  width: 23%;
}

#sign-up-view > div > form > div > button:nth-child(2):hover {
  background-color: var(--hoover-black);
}

#sign-up-view button {
  width: 65%;
  background-color: var(--green);
}

#sign-up-view button:hover {
  background-color: var(--hoover-green);
}

/* Edit Profile View */

#edit-profile-view {
  width: 100vw;
  height: calc(100vh - 60px);
  padding: 1%;
  display: flex;
  justify-content: center;
}

#edit-profile-view > div {
  width: 600px;
  height: 88vh;
  background-color: var(--white);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px var(--strong-grey);
}

#edit-profile-view > div > img {
  width: 75px;
  height: 95px;
  border-radius: 50%;
  object-fit: fill;
}

#edit-profile-view h2 {
  margin-bottom: 5px;
}

#edit-profile-view form {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

#edit-profile-view > div > form input:not([type="file"]),
#edit-profile-view > div > form textarea,
#edit-profile-view > div > form select {
  padding: 5px;
  margin-bottom: 7px;
  background-color: var(--light-grey);
  font-size: 1em;
}

#edit-profile-view > div > form input[type="file"] {
  padding: 5px;
  margin-bottom: 7px;
}

#edit-profile-view button {
  width: 50%;
  background-color: var(--green);
}

#edit-profile-view button:hover {
  background-color: var(--hoover-green);
}

/* Create Project View && Edit Project View */

#create-project-view,
#edit-project-view {
  width: 100vw;
  height: calc(100vh - 60px);
  padding: 1%;
  display: flex;
  justify-content: center;
}

#create-project-view > div,
#edit-project-view > div {
  width: 600px;
  height: 80vh;
  background-color: var(--white);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px var(--strong-grey);
}

#create-project-view h2,
#edit-project-view h2 {
  margin-bottom: 5px;
}

#create-project-view form,
#edit-project-view form {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

#create-project-view > div > form input:not([type="file"]),
#create-project-view > div > form textarea,
#create-project-view > div > form select,
#edit-project-view > div > form input:not([type="file"]),
#edit-project-view > div > form textarea,
#edit-project-view > div > form select {
  padding: 5px;
  margin-bottom: 7px;
  background-color: var(--light-grey);
  font-size: 1em;
}

#create-project-view > div > form > div,
#edit-project-view > div > form > div {
  display: flex;
}

#create-project-view > div > form > div > div:first-child,
#edit-project-view > div > form > div > div:first-child {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  gap: 10px;
}

#create-project-view > div > form > div > div:last-child,
#edit-project-view > div > form > div > div:last-child {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 10px;
}

#create-project-view input[type="date"],
#edit-project-view input[type="date"] {
  width: 55%;
}

#create-project-view input[type="number"],
#create-project-view select,
#edit-project-view input[type="number"],
#edit-project-view select {
  width: 15%;
}

#create-project-view > div > form input[type="file"],
#edit-project-view > div > form input[type="file"] {
  padding: 5px;
  margin-bottom: 7px;
}

#create-project-view .collaborators-number,
#edit-project-view .collaborators-number {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  padding: 20px 0;
}

#create-project-view .collaborators-number p,
#edit-project-view .collaborators-number p {
  width: 160px;
}

#create-project-view .collaborators-number > div:first-child,
#edit-project-view .collaborators-number > div:first-child {
  width: 70%;
  height: 50%;
}

#create-project-view .collaborators-number > div:last-child,
#edit-project-view .collaborators-number > div:last-child {
  width: 70%;
  height: 50%;
}

#create-project-view button,
#edit-project-view button {
  width: 35%;
  background-color: var(--green);
}

#create-project-view button:hover,
#edit-project-view button:hover {
  background-color: var(--hoover-green);
}

/* User Details View */

#user-details-view {
  padding: 1%;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* User Details Card */

#user-details-card {
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  box-shadow: 0 0 5px 2px var(--strong-grey);
  transition: 0.3s;
  margin: 10px;
  border-radius: 20px;
  background-color: var(--white);
}

#user-details-card > div:first-child {
  border-radius: 20px 20px 0 0;
  height: 220px;
  width: 100%;
  display: flex;
}

#user-details-card #avatar-image {
  height: 220px;
  width: 145px;
}

#user-details-card #avatar-image img {
  height: 220px;
  width: 145px;
  border-radius: 20px 0 0 0;
}

#user-details-card #avatar-info {
  height: 220px;
  width: calc(100% - 145px);
  padding: 10px;
  background-image: url("../src/images/userbackground.png");
  border-radius: 20px 20px 0 0;
  background-size: cover;
}

#user-details-card #avatar-info p,
#user-details-card #avatar-info h2 {
  color: var(--black);
  font-weight: bold;
}

#user-details-card > div:nth-child(2) {
  width: 100%;
  padding: 3%;
}

#user-details-card > div:nth-child(2) img {
  height: 50px;
  display: block;
  margin-bottom: 10px;
}

#user-details-card #card-data > button {
  width: 20%;
  background-color: var(--green);
  margin-right: 30px;
}

#user-details-card #card-data > button:hover {
  background-color: var(--hoover-green);
}

#user-details-card #card-data button:last-child {
  width: 20%;
  background-color: var(--dark-blue);
}

#user-details-card #card-data button:last-child:hover {
  background-color: var(--hoover-blue);
}

/* Project Details View */

#project-details-view {
  width: 100vw;
  height: calc(100vh - 60px);
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Project Card Component */

#project-details-card {
  border: 1px solid rgb(0, 0, 0);
  width: 65%;
  height: 95%;
  box-shadow: 0 0 5px 2px var(--strong-grey);
  transition: 0.3s;
  border-radius: 20px;
  background-color: var(--white);
}

#project-details-card > div:first-child {
  border-radius: 20px 20px 0 0;
  height: 260px;
  width: 100%;
  display: flex;
}

#project-details-card #project-image-container {
  height: 260px;
  width: 50%;
}

#project-details-card #project-image-container img {
  height: 260px;
  width: 100%;
  border-radius: 0 20px 0 0;
}

#project-details-card #project-info {
  height: 260px;
  width: 50%;
  padding: 20px;
  background-image: url("../src/images/projectbackground.png");
  border-radius: 20px 0 0 0;
  background-size: cover;
}

#project-details-card > div:nth-child(2) {
  width: 100%;
  padding: 20px;
}

#project-details-card > div:nth-child(2) img {
  height: 50px;
  display: block;
  margin-bottom: 10px;
}

#project-details-card #join-btn {
  width: 15%;
  background-color: var(--dark-blue);
  margin-top: 20px;
}

#project-details-card #join-btn:hover {
  background-color: var(--hoover-blue);
}

#project-details-card #closed-btn {
  width: 15%;
  background-color: #df7c03;
  margin-right: 30px;
  margin-top: 20px;
}

#project-details-card #closed-btn:hover {
  background-color: rgb(241, 178, 60);
}

#project-details-card #edit-btn {
  width: 15%;
  background-color: var(--dark-blue);
  margin-right: 30px;
  margin-top: 20px;
}

#project-details-card #edit-btn:hover {
  background-color: var(--hoover-blue);
}

#project-details-card #delete-btn {
  width: 15%;
  background-color: var(--red);
  margin-right: 30px;
  margin-top: 20px;
}

#project-details-card #delete-btn:hover {
  background-color: var(--hoover-red);
}

/* Portfolio View */

#portfolio-view {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(
    90deg,
    rgb(223, 223, 223) 50%,
    var(--light-grey) 50%
  );
}

#portfolio-view > div:first-child,
#portfolio-view > div:nth-child(2) {
  padding: 2% 4% 2% 4%;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

/* Project Card Component */

#project-card {
  border: 1px solid rgb(0, 0, 0);
  width: 88%;
  box-shadow: 0 0 5px 2px var(--strong-grey);
  transition: 0.3s;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--white);
}

#project-card > div:first-child {
  border-radius: 10px 10px 0 0;
  height: 240px;
  width: 100%;
  display: flex;
}

#project-card #container-project-image {
  height: 240px;
  width: 50%;
}

#project-card #container-project-image img {
  height: 240px;
  width: 100%;
  border-radius: 0 10px 0 0;
}

#project-card #info-project {
  height: 240px;
  width: 50%;
  padding: 20px;
  background-image: url("../src/images/projectbackground.png");
  border-radius: 10px 0 0 0;
  background-size: cover;
}

#project-card > div:nth-child(2) {
  width: 100%;
  padding: 20px;
}

#project-card #detail-btn {
  width: 100px;
  background-color: var(--dark-blue);
}

#project-card #detail-btn:hover {
  width: 100px;
  background-color: var(--hoover-blue);
}

/* Manage Requests View */

#manage-requests-view {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(
    90deg,
    rgb(223, 223, 223) 50%,
    var(--light-grey) 50%
  );
}

#manage-colaborators-requests,
#manage-my-requests {
  padding: 2% 4% 2% 4%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#manage-requests-view table {
  width: 90%;
  border-collapse: collapse;
}

#manage-colaborators-requests > div:first-child,
#manage-my-requests > div:first-child {
  margin-bottom: 30px;
}

#manage-colaborators-requests button:first-child,
#manage-colaborators-requests button:nth-child(2) {
  width: 70px;
  height: 40px;
  background-color: rgb(24, 129, 24);
  margin: 3px;
}

#manage-colaborators-requests button:nth-child(2) {
  background-color: red;
}

#delete-req-btn {
  width: 30px;
  height: 30px;
  background-image: url("../src/images/cancelbtn.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#manage-requests-view td {
  text-align: center;
  padding: 5px 10px 5px 10px;
  background-color: white;
}

#manage-requests-view th {
  padding: 0 15px;
  font-size: 18px;
}

#collaborators-table tbody td:nth-child(5) {
  background-color: white;
}

#my-requests-table tbody td:nth-child(5) {
  background-color: var(--light-grey);
}

#manage-requests-view .status-red {
  color: white;
  background-color: red;
  padding: 7px;
  font-size: 1.1em;
  border-radius: 5px;
}

#manage-requests-view .status-green {
  color: white;
  background-color: green;
  padding: 7px;
  font-size: 1.1em;
  border-radius: 5px;
}

#manage-requests-view .status-yellow {
  color: white;
  background-color: #ff8c00;
  padding: 7px;
  font-size: 1.1em;
  border-radius: 5px;
}

/* Create Request View */

#create-request {
  padding: 3%;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}

#create-request .result-card-container {
  border: 1px solid black;
  height: 250px;
  padding: 40px;
  box-shadow: 0 0 5px 2px var(--strong-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-request h2 {
  margin-bottom: 20px;
}

#create-request button.view-req-btn {
  width: 230px;
  height: 40px;
  margin-top: 20px;
  background-color: var(--dark-blue);
}

#create-request button.back-btn {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(5, 5, 5);
}

#create-request button.view-req-btn:hover {
  background-color: var(--hoover-blue);
}

#create-request button.back-btn:hover {
  background-color: var(--hoover-black);
}

/* Manage Projects */

#manage-projects-view {
  padding: 2% 4% 2% 4%;
  list-style-position: inside;
  width: 100vw;
  min-height: 100vh;
}

#manage-projects-view > p,
li {
  font-size: 18px;
  margin: 5px 0px;
}

#manage-projects-view > h2 {
  margin-bottom: 15px;
}

#manage-projects-view hr {
  border: 1px solid rgb(196, 196, 196);
  width: 100%;
  margin-bottom: 20px;
}

#manage-projects-view > button {
  width: 100px;
  height: 40px;
  margin-top: 5px;
  background-color: var(--green);
  margin-bottom: 20px;
}

#manage-projects-view > button:hover {
  background-color: var(--hoover-green);
}

#projects-container {
  margin: 0 auto;
  align-self: center;
  width: 85vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#projects-container #project-card {
  width: 47%;
}

/* Main View */

#main-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  min-height: 100vh;
}

#main-view > div:first-child {
  margin-top: 35px;
  padding: 2% 0 2% 0%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#main-view > div:nth-child(2) {
  padding: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#list-project-container #project-card {
  margin: 0 auto 25px auto;
}

#main-view select,
#main-view input {
  padding: 5px;
  margin-bottom: 7px;
  background-color: var(--light-grey);
  font-size: 1em;
}

#main-view aside {
  margin-top: 20px;
  padding: 0 20px 0 20px;
  width: 270px;
  height: 500px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 5px 2px var(--strong-grey);
}

#main-view aside h3 {
  margin: 22px 0 5px 0px;
}

#main-view aside button {
  height: 40px;
  width: 50%;
  margin-top: 10px;
  font-size: 1em;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid gray;
}

#main-view aside button:hover {
  color: rgb(255, 255, 255);
  background-color: var(--dark-grey);
}

#main-view div:first-child > button:first-child,
#main-view div:first-child > button:nth-child(2) {
  width: 230px;
  background-color: rgb(0, 95, 0);
  margin: 20px;
  height: 50px;
  font-size: 1.2em;
}

#main-view div:first-child > button:nth-child(2) {
  background-color: rgba(16, 0, 107, 0.792);
}

#main-view div:first-child > button:nth-child(2):hover {
  background-color: rgba(71, 49, 197, 0.792);
}

#main-view div:first-child > button:first-child:hover {
  background-color: rgb(0, 154, 0);
}
